<div class="container">
    <div class="row">
        <h3>Resumen General de Estados</h3>
    </div>
    <div class="row">
        <p class="text-info">Última Actualización:</p>
        <p class="text-info">{{dateDay}}</p>
    </div>
    <!-- Carga el dropdown con los distintos tipos de maquinas -->
    <div class="row">
        <div class="col-sm-6">
            <select #selectList class="custom-select" (change)="getstatuslog(selectList.value)">
                <option selected disabled>Seleccione un modelo de Maquina</option>
                <option *ngFor="let mach of arraymachmodels" value="{{mach.machineTypeId}}">{{mach.machineTypeName}}</option>
            </select>
        </div>
    </div>
    <br>
    <!-- Muestra datos del estado de las maquinas y la imagen según su estado y tipo -->
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let machinestatus of arraymachinestatus">
                <div class="col-sm-3">
                    <tr>Name: {{machinestatus.statusName}}</tr>
                    <tr>Porcentaje: {{machinestatus.percentage}}</tr>
                    <img src="{{machinestatus.imgsrc}}" alt="50px" height="50px">
                </div>
            </ng-container>
        </div>
    </div>
</div>