<div class="container">
    <div class="row">
        <h3>Resumen General de Estados</h3>
    </div>
    <div class="row">
        <p class="text-info">Última Actualización:</p>
        <p class="text-info">{{dateDay}}</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select #selectList class="custom-select" (change)="getstatuslog(selectList.value,selectdate.value)">
                <option selected>Seleccione un modelo de Maquina</option>
                <option *ngFor="let mach of arraymachmodels" value="{{mach.machineTypeId}}">{{mach.machineTypeName}}</option>
            </select>
        </div>
        <div class="col-sm-6">
            <div class="input-group date">
                <input #selectdate type="text" class="form-control" value="12-02-2012">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let object of arraymachinestatus">
                <div class="col-sm-3">
                    <tr>Name: {{object.statusName}}</tr>
                    <tr>Porcentaje: {{object.percentage}}</tr>
                    <img src="{{object.imgsrc}}" alt="100px" height="100px">
                </div>
            </ng-container>
        </div>
    </div>
</div>